
nav {
  background-color: #fe7e00;
  width: 100%;
  height: 60px;
  position: fixed;
  color: white;
}
@media (max-width:878px) {
  .logo {
    text-align: center;
  }
}
/*makes the nav in the body take up the whole top! notice if you code it out*/
body {
  display: block;
  margin: 0px;
}
/*styles the img in in the nav (logo )*/
nav img {
  height: 30px;
  width: 30px;
  padding: 5px;
}

/*styles the ul to float right*/
nav > div > ul {
  float: right;
}
/*styles the li in the nav section*/
nav > div > ul > li {
  display: inline;
  margin: 30px;
  padding: 5px;
}
/*makes links in list white with no decoration*/
li a {
  text-decoration: none;
  color: white;
}
/*@media (max-width:872px) {
  li a {
    margin-right: 20px;
    font-size: 10px;
  }
}*/


section {
  text-align: center;
}
section > div.search {
  display: inline-block;

}
/*styles main img in section*/
.block-img {
  display: inline-block;
  margin-top: 185px;
}

.mo {
  max-width: 100%;
}

@media (max-width:913px) {
  .mo {
    /*max-width: 100%;*/
    height: 300px;
  }
}
@media (max-width:757px) {
  .mo {
    height: 170px;
    width:120px;
  }
}
.fa-search {
  margin: -20px;
}
/*styles search bar*/
.search {
  float: right;
  top: 800px;
  height: 45px;
  position: absolute;
  left: 80%;
  top: 60px;
}
@media (max-width:724px){
  .search {
    margin-left: -50px;
  }
}
@media (max-width:472px) {
  .search {
    margin-left: -80px;
  }
}
/*styles box with text*/
.box-text {
  color: #fe7e00;
  display: inline-block;
  font-size: 38px;
}
@media (max-width:913px){
  .box-text {
    font-size: 30px;
  }
}
@media (max-width:758px) {
  .box-text {
    font-size: 20px;
  }
}
/*styles button*/
button {
  color: white;
  float: inherit;
  cursor: pointer;
  background-color: #fe7e00;
  border: 0;
  padding: 10px 30px;
}
@media (max-width:913px) {
  .button {
    /*float: right;*/
    padding-right: 90px;
  }
}
/*styles teal button*/
.teal {
  background-color: #97C6C0;
}
/*styles bottom footer*/
footer {
  background-color: #97C6C0;
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
}
